<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Aerosmith</title>
  <link rel="stylesheet" href="albums.css">
</head>
<body>
<a href="http://localhost:5000/"><h1><center>Aerosmith: Greatest Hits</center></h1></a>
<div class="album_art">
<img src=" {{filename}}" style="float:right">
</div>

<div class="info">
Greatest Hits is the first greatest hits compilation album by American hard rock band Aerosmith, released by Columbia Records in October 1980. 
It went multi-platinum and contained the songs that made the band an icon of the 1970s rock era.

<ul>
	<li><b>Artist:</b> Aerosmith</li>
	<li><b>Release Date:</b> 1980</li>
	<li><b>Label:</b> Columbia Records</li>
	<li><b>Genres:</b> Hard Rock</li>
</ul>
</div>
<div class="track">

<b>Tracklist:</b>

<ol>
	<li>Dream On</li>
	<li>Same Old Song And Dance</li>
	<li>Sweet Emotion</li>
	<li>Walk This Way</li>
	<li>Last Child</li>
	<li>Back In The Saddle</li>
	<li>Draw The Line</li>
	<li>Kings And Queens</li>
	<li>Come Together</li>
	<li>Remember(Walking In The Sand)</li>
</ol>

</div>

</body>
</html>