<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eminem: Curtain Call</title>
  <link rel="stylesheet" href="albums.css">
</head>
<body>
<a href="http://localhost:5000/"><h1><center>Eminem: Curtian Call</center></h1></a>
<div class="album_art">
<img src=" {{filename}}" style="float:right">
</div>
<div class="info">
Curtain Call: The Hits is the first greatest hits compilation album by American rapper Eminem. 
It was released on December 6, 2005, under Aftermath Entertainment, Shady Records, and Interscope Records.
<ul>
	<li><b>Artist:</b> Eminem</li>
	<li><b>Release Date:</b> 2005</li>
	<li><b>Label:</b> Aftermath Records</li>
	<li><b>Genres:</b> Hip Hop Music, Gangsta Rap, Hardcore Hip Hop</li>
</ul>
</div>
<div class="track">

<b>Tracklist:</b>

<ol>
	<li>Intro</li>
	<li>Fack</li>
	<li>The Way I Am</li>
	<li>My Name Is</li>
	<li>Stan</li>
	<li>Lose Yourself</li>
	<li>Shake That</li>
	<li>Sing For The Moment</li>
	<li>Without Me</li>
	<li>Like Toy Soldiers</li>
	<li>The Real Slim Shady</li>
	<li>Mockingbird</li>
	<li>Guilty Conscience</li>
	<li>Cleanin' Out My Closet</li>
	<li>Just Lose It</li>
	<li>When I'm Gone</li>
</ol>
	
</div>
</body>
</html>

