<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eminem: Curtain Call</title>
</head>
<body>
<a href="http://localhost:5000/"><h1><center>Eminem: Curtian Call</center></h1></a>
<p>
<img src=" {{filename}}" style="float:left">Curtain Call: The Hits is the first greatest hits compilation album by American rapper Eminem. 
It was released on December 6, 2005, under Aftermath Entertainment, Shady Records, and Interscope Records.
<ul>
	<li>Artist:Eminem</li>
	<li>Release Date: 2005</li>
</ul>
</p>

</body>
</html>

