<!DOCTYPE html>
<html lang="en">
<head>
<style>
body{
	background-color: gray;
	margin-left: 50px;
	font-family: Verdana;
	color: White
	
}
h1{
	font-size: 250%;
	font-family: Verdana;
	color: White
}
</style>
  <meta charset="UTF-8">
  <title>Fleetwood Greatest Hits</title>
</head>
<body>
<a href="http://localhost:5000/"><h1><center>Fleetwood Greatest Hits</center></h1></a>
<img src=" {{filename}}" style="float:right">

Greatest Hits is a 1988 compilation album by British-American rock band Fleetwood Mac. 
It covers the period of the band's greatest commercial success, from the mid-1970s to the late 1980s.

<ul>
	<li><b>Artist:</b> Fleetwood Mac</li>
	<li><b>Release Date:</b> 1998</li>
	<li><b>Label:</b> Warner Bros. Record</li>
	<li><b>Genres:</b> Rock Music</li>
</ul>

<b>Tracklist:</b>

<ol>
	<li>Rhiannon</li>
	<li>Don't Stop</li>
	<li>Go Your Own Way</li>
	<li>Hold Me</li>
	<li>Everywhere</li>
	<li>Gypsy</li>
	<li>You Make Loving Fun</li>
	<li>As Long As You Follow</li>
	<li>Dreams</li>
	<li>Say You Love Me</li>
	<li>Tusk</li>
	<li>Little Lies</li>
	<li>Sara</li>
	<li>Big Love</li>
	<li>No Questions Asked</li>
</ol>

</body>
</html>