<!DOCTYPE html>
<html lang="en">
<head>
<style>
body{
	background-color: gray;
	margin-left: 50px;
	font-family: Verdana;
	color: White
	
}
h1{
	font-size: 250%;
	font-family: Verdana;
	color: White
}
</style>
  <meta charset="UTF-8">
  <title>Michael Jackson</title>
</head>
<body>
<a href="http://localhost:5000/"><h1><center>The Essential Michael Jackson</center></h1></a>
<img src=" {{filename}}" style="float:right">
The Essential Michael Jackson is a greatest hits compilation album by American singer Michael Jackson. 
It was released on July 19, 2005, by Sony Music's catalog division Legacy Recordings as part of The Essential series.

<ul>
	<li><b>Artist:</b> Michael Jackson</li>
	<li><b>Release Date:</b> 2005</li>
	<li><b>Label:</b> Epic/Sony Records</li>
	<li><b>Genres:</b> Pop Music, Rock Music, Soul Music, Rhythm And Blues, Funk, Pop Rock, New Jack Swing</li>
</ul>

<b>Tracklist:</b>

<ol>
	<li>I Want You Back</li>
	<li>ABC</li>
	<li>The Love You Save</li>
	<li>Got To Be There</li>
	<li>Rockin' Robin</li>
	<li>Ben</li>
	<li>Enjoy Yourself</li>
	<li>Blame It On The Boogie</li>
	<li>Shake Your Body(Down To The Ground)</li>
	<li>Dont't Stop 'till You Get Enough</li>
	<li>Rock With You</li>
	<li>Off The Wall</li>
	<li>She's Out Of My Life</li>
	<li>Can You Feel It</li>
	<li>The Girl Is Mine</li>
	<li>Billie Jean</li>
	<li>Beat It</li>
	<li>Wanna Be Startin' Somethin'</li>
	<li>Human Nature</li>
	<li>P.Y.T(Pretty Young Thing)</li>
</ol>

<ol start="21">
	<li>Thriller</li>
	<li>Bad</li>
	<li>I Just Can't Stop Loving You</li>
	<li>Leave Me Alone</li>
	<li>The Way You Make Me Feel</li>
	<li>Man In The Mirror</li>
	<li>Dirty Diana</li>
	<li>Another Part Of Me</li>
	<li>Smooth Criminal</li>
	<li>Black Or White</li>
	<li>Heal The World</li>
	<li>Remember The Time</li>
	<li>In The Closet</li>
	<li>Who Is It</li>
	<li>Will You Be There</li>
	<li>Dangerous</li>
	<li>You Are Not Alone</li>
	<li>You Rock My World</li>
</ol>

</body>
</html>