<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Marvin Gaye</title>
  <link rel="stylesheet" href="albums.css">
</head>
<body>
<a href="http://localhost:5000/"><h1><center>Marvin Gaye's Greatest Hits</center></h1></a>
<div class="album_art">
<img src=" {{filename}}" style="float:right">
</div>
<div class="info">
Marvin Gaye's Greatest Hits is a compilation album released by American R&B/soul singer 
and Motown legend Marvin Gaye, released on the Motown label in 1976.

<ul>
	<li><b>Artist:</b> Marvin Gaye</li>
	<li><b>Release Date:</b> 1976</li>
	<li><b>Label:</b> Tamla</li>
	<li><b>Genres:</b> Soul Music, Rhythm And Blues</li>
</ul>
</div>
<div class="track">

<b>Tracklist:</b>

<ol>
	<li>Let's Get It On</li>
	<li>I Want You</li>
	<li>How Sweet It Is(To Be Loved By You)</li>
	<li>I Heard It Through The Grapevine</li>
	<li>Mercy Mercy Me(The Ecology)</li>
	<li>What's Going On</li>
	<li>After The Dance</li>
	<li>Can I Get A Witness</li>
	<li>Main Theme From Trouble Man</li>
	<li>Distant Lover(Live)</li>
</ol>

</div>

</body>
</html>